@font-face {
    font-family: 'Quantify Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Quantify Regular'), url('Quantify.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Quantify Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Quantify Bold'), url('Quantify Bold.woff') format('woff');
    }

h1 {
    font-family: 'Quantify Bold';
    font-weight: 200;
    color: #afc25b;
}